@model DreamMusic.Models.Disco

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Disco</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="DiscoId" />
            <div class="form-group">
                <label asp-for="PrecioDeCompra" class="control-label"></label>
                <input asp-for="PrecioDeCompra" class="form-control" />
                <span asp-validation-for="PrecioDeCompra" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Titulo" class="control-label"></label>
                <input asp-for="Titulo" class="form-control" />
                <span asp-validation-for="Titulo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Artista" class="control-label"></label>
                <input asp-for="Artista" class="form-control" />
                <span asp-validation-for="Artista" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaLanzamiento" class="control-label"></label>
                <input asp-for="FechaLanzamiento" class="form-control" />
                <span asp-validation-for="FechaLanzamiento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

